<!--
   EpisoDAS登録HTMLのテンプレート
-->
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="icon" type="image/png" href="/images/favicon.png">
    <link rel="stylesheet" href="/stylesheets/episopass.css" type="text/css">
    <title>EpisoDAS Maker</title>
    <script language="JavaScript">
      var exports = {};
      var name = <%- name %>; // エスケープしない
      var seed = <%- seed %>;
      var selections = <%- selections %>;
    </script>
    <script src="javascripts/jquery.js"></script>
    <script src="javascripts/episodasmaker.js"></script>
    <script src="javascripts/md5.js"></script>
  </head>
  <body>
  </body>
</html>
